@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Slab', serif;
}

a{
  text-decoration: none;
  color:#333;
  font-weight: bold;
}
nav{
  background-color: #fff;
  height:10vh;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
}

ul{
  list-style-type: none;
  display: flex;
}
li{
  margin:1rem;
  font-weight: bold;
}

nav>h1{
  letter-spacing: 3px;
}

.home{
  height:90vh;
  background-color:aliceblue;
  display: flex;
  position: relative;
}
